<STYLE>A {text-decoration: none;} </STYLE>

<h3>B</h3>
<p>Branch causes a branch to a target address.</p>
<p><strong>B{&lt;c&gt;} &lt;label&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;label&gt;: </strong></td><td>The label of instruction that is to be branched to</td></tr>
</table>
<p><small>(info from b.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>