<STYLE>A {text-decoration: none;} </STYLE>

<h3>BL, BLX (immediate)</h3>
<p>Branch with Link calls a subroutine at a PC-relative address, and setting LR to the return address.</p>
<p>Branch with Link and Exchange Instruction Sets (immediate) calls a subroutine at a PC-relative address, setting LR to the return address, and changes the instruction set from A32 to T32, or from T32 to A32.</p>
<p><strong>BL{&lt;c&gt;} &lt;label&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;label&gt;: </strong></td><td>The label of instruction that is to be branched to</td></tr>
</table>
<p><strong>BLX{&lt;c&gt;} &lt;label&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;label&gt;: </strong></td><td>The label of instruction that is to be branched to</td></tr>
</table>
<p><small>(info from bl_i.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>