<STYLE>A {text-decoration: none;} </STYLE>

<h3>BLX (register)</h3>
<p>Branch with Link and Exchange (register) calls a subroutine at an address specified in the register, and if necessary changes to the instruction set indicated by bit[0] of the register value. If the value in bit[0] is 0, the instruction set after the branch will be A32. If the value in bit[0] is 1, the instruction set after the branch will be T32.</p>
<p><strong>BLX{&lt;c&gt;} &lt;Rm&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>General-purpose register holding address to be branched to (field &quot;Rm&quot;)</td></tr>
</table>
<p><small>(info from blx_r.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>