<STYLE>A {text-decoration: none;} </STYLE>

<h3>BX</h3>
<p>Branch and Exchange causes a branch to an address and instruction set specified by a register.</p>
<p><strong>BX{&lt;c&gt;} &lt;Rm&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>General-purpose register holding address to be branched to (field &quot;Rm&quot;)</td></tr>
</table>
<p><small>(info from bx.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>