<STYLE>A {text-decoration: none;} </STYLE>

<h3>CMN (immediate)</h3>
<p>Compare Negative (immediate) adds a register value and an immediate value. It updates the condition flags based on the result, and discards the result.</p>
<p><strong>CMN{&lt;c&gt;} &lt;Rn&gt;, #&lt;const&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose source register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>&lt;const&gt;: </strong></td><td>An immediate value</td></tr>
</table>
<p><small>(info from cmn_i.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>