<STYLE>A {text-decoration: none;} </STYLE>

<h3>CMN (register)</h3>
<p>Compare Negative (register) adds a register value and an optionally-shifted register value. It updates the condition flags based on the result, and discards the result.</p>
<p><strong>Rotate right with extend<br>
CMN{&lt;c&gt;} &lt;Rn&gt;, &lt;Rm&gt;, RRX</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>First general-purpose source register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>Second general-purpose source register (field &quot;Rm&quot;)</td></tr>
<tr><td align="right"><strong>RRX: </strong></td><td><a href="shiftOperators.html">Rotate Right with Extend</a></td></tr>
</table>
<p><strong>Shift or rotate by value<br>
CMN{&lt;c&gt;} &lt;Rn&gt;, &lt;Rm&gt; {, &lt;shift&gt; #&lt;amount&gt;}</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>First general-purpose source register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>Second general-purpose source register (field &quot;Rm&quot;)</td></tr>
<tr><td align="right"><strong>&lt;shift&gt;: </strong></td><td><a href="shiftOperators.html">Type of shift applied to second source register (field &quot;stype&quot;) [ASR,LSL,LSR,ROR]</a></td></tr>
<tr><td align="right"><strong>&lt;amount&gt;: </strong></td><td><a href="shiftOperators.html">Shift amount [1-31 (when &lt;shift&gt; = LSL or ROR) or 1 to 32 (when &lt;shift&gt; = LSR or ASR) (field &quot;imm5&quot;)</a></td></tr>
</table>
<p><small>(info from cmn_r.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>