<STYLE>A {text-decoration: none;} </STYLE>

<h3>EOR, EORS (register-shifted register)</h3>
<p>Bitwise Exclusive OR (register-shifted register) performs a bitwise Exclusive OR of a register value and a register-shifted register value. It writes the result to the destination register, and can optionally update the condition flags based on the result.</p>
<p><strong>EOR{&lt;c&gt;}{&lt;s&gt;} {&lt;Rd&gt;,} &lt;Rn&gt;, &lt;Rm&gt;, &lt;shift&gt; &lt;Rs&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;s&gt;: </strong></td><td><a href="conditionField.html">updates the condition flags based on the result</a></td></tr>
<tr><td align="right"><strong>&lt;Rd&gt;: </strong></td><td>General-purpose destination register (field &quot;Rd&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>First general-purpose source register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>Second general-purpose source register (field &quot;Rm&quot;)</td></tr>
<tr><td align="right"><strong>&lt;shift&gt;: </strong></td><td><a href="shiftOperators.html">Type of shift applied to second source register (field &quot;stype&quot;) [ASR,LSL,LSR,ROR]</a></td></tr>
<tr><td align="right"><strong>&lt;Rs&gt;: </strong></td><td>Third general-purpose source register holding a shift amount in its bottom 8 bits (field &quot;Rs&quot;)</td></tr>
</table>
<p><small>(info from eor_rr.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>