<STYLE>A {text-decoration: none;} </STYLE>

<h2>ARM Instruction Set</h2>
<h3>Movement Instructions</h3>
&emsp;&bull; <a href="MOV, MOVS (immediate).html">MOV, MOVS (immediate)</a><br>
&emsp;&bull; <a href="MOV, MOVS (register).html">MOV, MOVS (register)</a><br>
&emsp;&bull; <a href="MOV, MOVS (register-shifted register).html">MOV, MOVS (register-shifted register)</a><br>
&emsp;&bull; <a href="MOVT.html">MOVT</a><br>
&emsp;&bull; <a href="MVN, MVNS (immediate).html">MVN, MVNS (immediate)</a><br>
&emsp;&bull; <a href="MVN, MVNS (register).html">MVN, MVNS (register)</a><br>
&emsp;&bull; <a href="MVN, MVNS (register-shifted register).html">MVN, MVNS (register-shifted register)</a><br>

<h3>Arithmetic Instructions</h3>
&emsp;&bull; <a href="ADC, ADCS (immediate).html">ADC, ADCS (immediate)</a><br>
&emsp;&bull; <a href="ADC, ADCS (register).html">ADC, ADCS (register)</a><br>
&emsp;&bull; <a href="ADC, ADCS (register-shifted register).html">ADC, ADCS (register-shifted register)</a><br>
&emsp;&bull; <a href="ADD (immediate, to PC).html">ADD (immediate, to PC)</a><br>
&emsp;&bull; <a href="ADD, ADDS (immediate).html">ADD, ADDS (immediate)</a><br>
&emsp;&bull; <a href="ADD, ADDS (register).html">ADD, ADDS (register)</a><br>
&emsp;&bull; <a href="ADD, ADDS (register-shifted register).html">ADD, ADDS (register-shifted register)</a><br>
&emsp;&bull; <a href="ADD, ADDS (SP plus immediate).html">ADD, ADDS (SP plus immediate)</a><br>
&emsp;&bull; <a href="ADD, ADDS (SP plus register).html">ADD, ADDS (SP plus register)</a><br>
&emsp;&bull; <a href="MLA, MLAS.html">MLA, MLAS</a><br>
&emsp;&bull; <a href="MUL, MULS.html">MUL, MULS</a><br>
&emsp;&bull; <a href="RSB, RSBS (immediate).html">RSB, RSBS (immediate)</a><br>
&emsp;&bull; <a href="RSB, RSBS (register).html">RSB, RSBS (register)</a><br>
&emsp;&bull; <a href="RSB, RSBS (register-shifted register).html">RSB, RSBS (register-shifted register)</a><br>
&emsp;&bull; <a href="RSC, RSCS (immediate).html">RSC, RSCS (immediate)</a><br>
&emsp;&bull; <a href="RSC, RSCS (register).html">RSC, RSCS (register)</a><br>
&emsp;&bull; <a href="RSC, RSCS (register-shifted register).html">RSC, RSCS (register-shifted register)</a><br>
&emsp;&bull; <a href="SBC, SBCS (immediate).html">SBC, SBCS (immediate)</a><br>
&emsp;&bull; <a href="SBC, SBCS (register).html">SBC, SBCS (register)</a><br>
&emsp;&bull; <a href="SBC, SBCS (register-shifted register).html">SBC, SBCS (register-shifted register)</a><br>
&emsp;&bull; <a href="SMLAL, SMLALS.html">SMLAL, SMLALS</a><br>
&emsp;&bull; <a href="SMLALBB, SMLALBT, SMLALTB, SMLALTT.html">SMLALBB, SMLALBT, SMLALTB, SMLALTT</a><br>
&emsp;&bull; <a href="SMLALD, SMLALDX.html">SMLALD, SMLALDX</a><br>
&emsp;&bull; <a href="SMULL, SMULLS.html">SMULL, SMULLS</a><br>
&emsp;&bull; <a href="SUB (immediate, from PC).html">SUB (immediate, from PC)</a><br>
&emsp;&bull; <a href="SUB, SUBS (immediate).html">SUB, SUBS (immediate)</a><br>
&emsp;&bull; <a href="SUB, SUBS (register).html">SUB, SUBS (register)</a><br>
&emsp;&bull; <a href="SUB, SUBS (register-shifted register).html">SUB, SUBS (register-shifted register)</a><br>
&emsp;&bull; <a href="SUB, SUBS (SP minus immediate).html">SUB, SUBS (SP minus immediate)</a><br>
&emsp;&bull; <a href="SUB, SUBS (SP minus register).html">SUB, SUBS (SP minus register)</a><br>
&emsp;&bull; <a href="UMLAL, UMLALS.html">UMLAL, UMLALS</a><br>
&emsp;&bull; <a href="UMULL, UMULLS.html">UMULL, UMULLS</a><br>

<h3>Logical Instructions</h3>
&emsp;&bull; <a href="AND, ANDS (immediate).html">AND, ANDS (immediate)</a><br>
&emsp;&bull; <a href="AND, ANDS (register).html">AND, ANDS (register)</a><br>
&emsp;&bull; <a href="AND, ANDS (register-shifted register).html">AND, ANDS (register-shifted register)</a><br>
&emsp;&bull; <a href="BIC, BICS (immediate).html">BIC, BICS (immediate)</a><br>
&emsp;&bull; <a href="BIC, BICS (register).html">BIC, BICS (register)</a><br>
&emsp;&bull; <a href="BIC, BICS (register-shifted register).html">BIC, BICS (register-shifted register)</a><br>
&emsp;&bull; <a href="EOR, EORS (immediate).html">EOR, EORS (immediate)</a><br>
&emsp;&bull; <a href="EOR, EORS (register).html">EOR, EORS (register)</a><br>
&emsp;&bull; <a href="EOR, EORS (register-shifted register).html">EOR, EORS (register-shifted register)</a><br>
&emsp;&bull; <a href="ORR, ORRS (immediate).html">ORR, ORRS (immediate)</a><br>
&emsp;&bull; <a href="ORR, ORRS (register).html">ORR, ORRS (register)</a><br>
&emsp;&bull; <a href="ORR, ORRS (register-shifted register).html">ORR, ORRS (register-shifted register)</a><br>

<h3>Branch Instructions</h3>
&emsp;&bull; <a href="B.html">B</a><br>
&emsp;&bull; <a href="BL, BLX (immediate).html">BL, BLX (immediate)</a><br>
&emsp;&bull; <a href="BLX (register).html">BLX (register)</a><br>
&emsp;&bull; <a href="BX.html">BX</a><br>
&emsp;&bull; <a href="BXJ.html">BXJ</a><br>

<h3>Compare Instructions</h3>
&emsp;&bull; <a href="CMN (immediate).html">CMN (immediate)</a><br>
&emsp;&bull; <a href="CMN (register).html">CMN (register)</a><br>
&emsp;&bull; <a href="CMN (register-shifted register).html">CMN (register-shifted register)</a><br>
&emsp;&bull; <a href="CMP (immediate).html">CMP (immediate)</a><br>
&emsp;&bull; <a href="CMP (register).html">CMP (register)</a><br>
&emsp;&bull; <a href="CMP (register-shifted register).html">CMP (register-shifted register)</a><br>
&emsp;&bull; <a href="TEQ (immediate).html">TEQ (immediate)</a><br>
&emsp;&bull; <a href="TEQ (register).html">TEQ (register)</a><br>
&emsp;&bull; <a href="TEQ (register-shifted register).html">TEQ (register-shifted register)</a><br>
&emsp;&bull; <a href="TST (immediate).html">TST (immediate)</a><br>
&emsp;&bull; <a href="TST (register).html">TST (register)</a><br>
&emsp;&bull; <a href="TST (register-shifted register).html">TST (register-shifted register)</a><br>

<h3>Load Instructions</h3>
&emsp;&bull; <a href="LDM, LDMIA, LDMFD.html">LDM, LDMIA, LDMFD</a><br>
&emsp;&bull; <a href="LDM (exception return).html">LDM (exception return)</a><br>
&emsp;&bull; <a href="LDM (User registers).html">LDM (User registers)</a><br>
&emsp;&bull; <a href="LDMDA, LDMFA.html">LDMDA, LDMFA</a><br>
&emsp;&bull; <a href="LDMDB, LDMEA.html">LDMDB, LDMEA</a><br>
&emsp;&bull; <a href="LDMIB, LDMED.html">LDMIB, LDMED</a><br>
&emsp;&bull; <a href="LDR (immediate).html">LDR (immediate)</a><br>
&emsp;&bull; <a href="LDR (literal).html">LDR (literal)</a><br>
&emsp;&bull; <a href="LDR (register).html">LDR (register)</a><br>
&emsp;&bull; <a href="LDRB (immediate).html">LDRB (immediate)</a><br>
&emsp;&bull; <a href="LDRB (literal).html">LDRB (literal)</a><br>
&emsp;&bull; <a href="LDRB (register).html">LDRB (register)</a><br>
&emsp;&bull; <a href="LDRBT.html">LDRBT</a><br>
&emsp;&bull; <a href="LDRD (immediate).html">LDRD (immediate)</a><br>
&emsp;&bull; <a href="LDRD (literal).html">LDRD (literal)</a><br>
&emsp;&bull; <a href="LDRD (register).html">LDRD (register)</a><br>
&emsp;&bull; <a href="LDREX.html">LDREX</a><br>
&emsp;&bull; <a href="LDREXB.html">LDREXB</a><br>
&emsp;&bull; <a href="LDREXD.html">LDREXD</a><br>
&emsp;&bull; <a href="LDREXH.html">LDREXH</a><br>
&emsp;&bull; <a href="LDRH (immediate).html">LDRH (immediate)</a><br>
&emsp;&bull; <a href="LDRH (literal).html">LDRH (literal)</a><br>
&emsp;&bull; <a href="LDRH (register).html">LDRH (register)</a><br>
&emsp;&bull; <a href="LDRHT.html">LDRHT</a><br>
&emsp;&bull; <a href="LDRSB (immediate).html">LDRSB (immediate)</a><br>
&emsp;&bull; <a href="LDRSB (literal).html">LDRSB (literal)</a><br>
&emsp;&bull; <a href="LDRSB (register).html">LDRSB (register)</a><br>
&emsp;&bull; <a href="LDRSBT.html">LDRSBT</a><br>
&emsp;&bull; <a href="LDRSH (immediate).html">LDRSH (immediate)</a><br>
&emsp;&bull; <a href="LDRSH (literal).html">LDRSH (literal)</a><br>
&emsp;&bull; <a href="LDRSH (register).html">LDRSH (register)</a><br>
&emsp;&bull; <a href="LDRSHT.html">LDRSHT</a><br>
&emsp;&bull; <a href="LDRT.html">LDRT</a><br>

<h3>Store Instructions</h3>
&emsp;&bull; <a href="STM, STMIA, STMEA.html">STM, STMIA, STMEA</a><br>
&emsp;&bull; <a href="STM (User registers).html">STM (User registers)</a><br>
&emsp;&bull; <a href="STMDA, STMED.html">STMDA, STMED</a><br>
&emsp;&bull; <a href="STMDB, STMFD.html">STMDB, STMFD</a><br>
&emsp;&bull; <a href="STMIB, STMFA.html">STMIB, STMFA</a><br>
&emsp;&bull; <a href="STR (immediate).html">STR (immediate)</a><br>
&emsp;&bull; <a href="STR (register).html">STR (register)</a><br>
&emsp;&bull; <a href="STRB (immediate).html">STRB (immediate)</a><br>
&emsp;&bull; <a href="STRB (register).html">STRB (register)</a><br>
&emsp;&bull; <a href="STRBT.html">STRBT</a><br>
&emsp;&bull; <a href="STRD (immediate).html">STRD (immediate)</a><br>
&emsp;&bull; <a href="STRD (register).html">STRD (register)</a><br>
&emsp;&bull; <a href="STREX.html">STREX</a><br>
&emsp;&bull; <a href="STREXB.html">STREXB</a><br>
&emsp;&bull; <a href="STREXD.html">STREXD</a><br>
&emsp;&bull; <a href="STREXH.html">STREXH</a><br>
&emsp;&bull; <a href="STRH (immediate).html">STRH (immediate)</a><br>
&emsp;&bull; <a href="STRH (register).html">STRH (register)</a><br>
&emsp;&bull; <a href="STRHT.html">STRHT</a><br>
&emsp;&bull; <a href="STRT.html">STRT</a><br>

<h3>Stack Instructions</h3>
&emsp;&bull; <a href="POP (multiple registers).html">POP (multiple registers)</a><br>
&emsp;&bull; <a href="POP (single register).html">POP (single register)</a><br>
&emsp;&bull; <a href="PUSH (multiple registers).html">PUSH (multiple registers)</a><br>
&emsp;&bull; <a href="PUSH (single register).html">PUSH (single register)</a><br>

