<STYLE>A {text-decoration: none;} </STYLE>

<h3>LDM (exception return)</h3>
<p>Load Multiple (exception return) loads multiple registers from consecutive memory locations using an address from a base register. The SPSR of the current mode is copied to the CPSR. An address adjusted by the size of the data loaded can optionally be written back to the base register.</p>
<p>The registers loaded include the PC. The word loaded for the PC is treated as an address and a branch occurs to that address.</p>
<p>Load Multiple (exception return) is:</p>
<p><strong>LDM{&lt;amode&gt;}{&lt;c&gt;} &lt;Rn&gt;{!}, &lt;registers_with_pc&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;amode&gt;: </strong></td><td>One of:<br>
$DA: Decrement After</td></tr>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose base register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>{!}: </strong></td><td>The address adjusted by the size of data loaded is written back to the base register (field &quot;W&quot;)</td></tr>
<tr><td align="right"><strong>&lt;registers_with_pc&gt;: </strong></td><td>List of one or more registers, separated by commas and surrounded by { and }</td></tr>
</table>
<p><small>(info from ldm_e.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>