<STYLE>A {text-decoration: none;} </STYLE>

<h3>LDMDA, LDMFA</h3>
<p>Load Multiple Decrement After (Full Ascending) loads multiple registers from consecutive memory locations using an address from a base register. The consecutive memory locations end at this address, and the address just below the lowest of those locations can optionally be written back to the base register.</p>
<p>The lowest-numbered register is loaded from the lowest memory address, through to the highest-numbered register from the highest memory address. See also Encoding of lists of general-purpose registers and the PC.</p>
<p>Armv8.2 permits the deprecation of some Load Multiple ordering behaviors in AArch32 state, for more information see ARMv8.2-LSMAOC. The registers loaded can include the PC, causing a branch to a loaded address. This is an interworking branch, see Pseudocode description of operations on the AArch32 general-purpose registers and the PC. Related system instructions are LDM (User registers) and LDM (exception return).</p>
<p><strong>LDMDA{&lt;c&gt;} &lt;Rn&gt;{!}, &lt;registers&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose base register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>{!}: </strong></td><td>The address adjusted by the size of data loaded is written back to the base register (field &quot;W&quot;)</td></tr>
<tr><td align="right"><strong>&lt;registers&gt;: </strong></td><td>List of one or more registers to be loaded</td></tr>
</table>
<p><strong>LDMFA{&lt;c&gt;} &lt;Rn&gt;{!}, &lt;registers&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose base register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>{!}: </strong></td><td>The address adjusted by the size of data loaded is written back to the base register (field &quot;W&quot;)</td></tr>
<tr><td align="right"><strong>&lt;registers&gt;: </strong></td><td>List of one or more registers to be loaded</td></tr>
</table>
<p><small>(info from ldmda.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>