<STYLE>A {text-decoration: none;} </STYLE>

<h3>LDRD (register)</h3>
<p>Load Register Dual (register) calculates an address from a base register value and a register offset, loads two words from memory, and writes them to two registers. It can use offset, post-indexed, or pre-indexed addressing. For information about memory accesses see Memory accesses.</p>
<p><strong>Offset<br>
LDRD{&lt;c&gt;} &lt;Rt&gt;, &lt;Rt2&gt;, [&lt;Rn&gt;, {+/-}&lt;Rm&gt;]</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rt&gt;: </strong></td><td>First general-purpose register to be transferred (field &quot;Rt&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rt2&gt;: </strong></td><td>Second general-purpose register to be transferred</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose base register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>{+/-}: </strong></td><td>Specifies the index register is added to or subtracted from the base register (field &quot;U&quot;) [+,-]</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>General-purpose index register (field &quot;Rm&quot;)</td></tr>
</table>
<p><strong>Post-indexed<br>
LDRD{&lt;c&gt;} &lt;Rt&gt;, &lt;Rt2&gt;, [&lt;Rn&gt;], {+/-}&lt;Rm&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rt&gt;: </strong></td><td>First general-purpose register to be transferred (field &quot;Rt&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rt2&gt;: </strong></td><td>Second general-purpose register to be transferred</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose base register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>{+/-}: </strong></td><td>Specifies the index register is added to or subtracted from the base register (field &quot;U&quot;) [+,-]</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>General-purpose index register (field &quot;Rm&quot;)</td></tr>
</table>
<p><strong>Pre-indexed<br>
LDRD{&lt;c&gt;} &lt;Rt&gt;, &lt;Rt2&gt;, [&lt;Rn&gt;, {+/-}&lt;Rm&gt;]!</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rt&gt;: </strong></td><td>First general-purpose register to be transferred (field &quot;Rt&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rt2&gt;: </strong></td><td>Second general-purpose register to be transferred</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose base register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>{+/-}: </strong></td><td>Specifies the index register is added to or subtracted from the base register (field &quot;U&quot;) [+,-]</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>General-purpose index register (field &quot;Rm&quot;)</td></tr>
</table>
<p><small>(info from ldrd_r.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>