<STYLE>A {text-decoration: none;} </STYLE>

<h3>LDREX</h3>
<p>Load Register Exclusive calculates an address from a base register value and an immediate offset, loads a word from memory, writes it to a register and:</p>
<p>For more information about support for shared memory see Synchronization and semaphores. For information about memory accesses see Memory accesses.</p>
<p><strong>LDREX{&lt;c&gt;} &lt;Rt&gt;, [&lt;Rn&gt; {, {#}&lt;imm&gt;}]</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rt&gt;: </strong></td><td>General-purpose register to be transferred (field &quot;Rt&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose base register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>{#}: </strong></td><td></td></tr>
<tr><td align="right"><strong>&lt;imm&gt;: </strong></td><td>The immediate offset added to the value of &lt;Rn&gt; to calculate the address</td></tr>
</table>
<p><small>(info from ldrex.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>