<STYLE>A {text-decoration: none;} </STYLE>

<h3>LDREXB</h3>
<p>Load Register Exclusive Byte derives an address from a base register value, loads a byte from memory, zero-extends it to form a 32-bit word, writes it to a register and:</p>
<p>For more information about support for shared memory see Synchronization and semaphores. For information about memory accesses see Memory accesses.</p>
<p><strong>LDREXB{&lt;c&gt;} &lt;Rt&gt;, [&lt;Rn&gt;]</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rt&gt;: </strong></td><td>General-purpose register to be transferred (field &quot;Rt&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose base register (field &quot;Rn&quot;)</td></tr>
</table>
<p><small>(info from ldrexb.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>