<STYLE>A {text-decoration: none;} </STYLE>

<h3>LDREXD</h3>
<p>Load Register Exclusive Doubleword derives an address from a base register value, loads a 64-bit doubleword from memory, writes it to two registers and:</p>
<p>For more information about support for shared memory see Synchronization and semaphores. For information about memory accesses see Memory accesses.</p>
<p><strong>LDREXD{&lt;c&gt;} &lt;Rt&gt;, &lt;Rt2&gt;, [&lt;Rn&gt;]</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rt&gt;: </strong></td><td>First general-purpose register to be transferred (field &quot;Rt&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rt2&gt;: </strong></td><td>Second general-purpose register to be transferred</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose base register (field &quot;Rn&quot;)</td></tr>
</table>
<p><small>(info from ldrexd.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>