<STYLE>A {text-decoration: none;} </STYLE>

<h3>LDRH (literal)</h3>
<p>Load Register Halfword (literal) calculates an address from the PC value and an immediate offset, loads a halfword from memory, zero-extends it to form a 32-bit word, and writes it to a register. For information about memory accesses see Memory accesses.</p>
<p><strong>LDRH{&lt;c&gt;} &lt;Rt&gt;, &lt;label&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rt&gt;: </strong></td><td>General-purpose register to be transferred (field &quot;Rt&quot;)</td></tr>
<tr><td align="right"><strong>&lt;label&gt;: </strong></td><td>The label of literal data item that is to be loaded into &lt;Rt&gt;</td></tr>
</table>
<p><strong>LDRH{&lt;c&gt;} &lt;Rt&gt;, [PC, #{+/-}&lt;imm&gt;]</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rt&gt;: </strong></td><td>General-purpose register to be transferred (field &quot;Rt&quot;)</td></tr>
<tr><td align="right"><strong>PC: </strong></td><td>Program Counter Register</td></tr>
<tr><td align="right"><strong>{+/-}: </strong></td><td>Specifies the offset is added to or subtracted from the base register (field &quot;U&quot;) [+,-]</td></tr>
<tr><td align="right"><strong>&lt;imm&gt;: </strong></td><td>8-bit unsigned immediate byte offset [0-255] (field &quot;imm4H:imm4L&quot;)</td></tr>
</table>
<p><small>(info from ldrh_l.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>