<STYLE>A {text-decoration: none;} </STYLE>

<h3>LDRSH (register)</h3>
<p>Load Register Signed Halfword (register) calculates an address from a base register value and an offset register value, loads a halfword from memory, sign-extends it to form a 32-bit word, and writes it to a register. The offset register value can be shifted left by 0, 1, 2, or 3 bits. For information about memory accesses see Memory accesses.</p>
<p><strong>Offset<br>
LDRSH{&lt;c&gt;} &lt;Rt&gt;, [&lt;Rn&gt;, {+/-}&lt;Rm&gt;]</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rt&gt;: </strong></td><td>General-purpose register to be transferred (field &quot;Rt&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose base register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>{+/-}: </strong></td><td>Specifies the index register is added to or subtracted from the base register (field &quot;U&quot;) [+,-]</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>General-purpose index register (field &quot;Rm&quot;)</td></tr>
</table>
<p><strong>Post-indexed<br>
LDRSH{&lt;c&gt;} &lt;Rt&gt;, [&lt;Rn&gt;], {+/-}&lt;Rm&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rt&gt;: </strong></td><td>General-purpose register to be transferred (field &quot;Rt&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose base register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>{+/-}: </strong></td><td>Specifies the index register is added to or subtracted from the base register (field &quot;U&quot;) [+,-]</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>General-purpose index register (field &quot;Rm&quot;)</td></tr>
</table>
<p><strong>Pre-indexed<br>
LDRSH{&lt;c&gt;} &lt;Rt&gt;, [&lt;Rn&gt;, {+/-}&lt;Rm&gt;]!</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rt&gt;: </strong></td><td>General-purpose register to be transferred (field &quot;Rt&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose base register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>{+/-}: </strong></td><td>Specifies the index register is added to or subtracted from the base register (field &quot;U&quot;) [+,-]</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>General-purpose index register (field &quot;Rm&quot;)</td></tr>
</table>
<p><small>(info from ldrsh_r.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>