<STYLE>A {text-decoration: none;} </STYLE>

<h3>LDRT</h3>
<p>Load Register Unprivileged loads a word from memory, and writes it to a register. For information about memory accesses see Memory accesses.</p>
<p>The memory access is restricted as if the PE were running in User mode. This makes no difference if the PE is actually running in User mode.</p>
<p>LDRT is unpredictable in Hyp mode.</p>
<p>The T32 instruction uses an offset addressing mode, that calculates the address used for the memory access from a base register value and an immediate offset, and leaves the base register unchanged.</p>
<p>The A32 instruction uses a post-indexed addressing mode, that uses a base register value as the address for the memory access, and calculates a new address from a base register value and an offset and writes it back to the base register. The offset can be an immediate value or an optionally-shifted register value.</p>
<p><strong>LDRT{&lt;c&gt;} &lt;Rt&gt;, [&lt;Rn&gt;] {, #{+/-}&lt;imm&gt;}</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rt&gt;: </strong></td><td>General-purpose register to be transferred (field &quot;Rt&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose base register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>{+/-}: </strong></td><td>Specifies the offset is added to or subtracted from the base register (field &quot;U&quot;) [+,-]</td></tr>
<tr><td align="right"><strong>&lt;imm&gt;: </strong></td><td>12-bit unsigned immediate byte offset [0-4095] (field &quot;imm12&quot;)</td></tr>
</table>
<p><strong>LDRT{&lt;c&gt;} &lt;Rt&gt;, [&lt;Rn&gt;], {+/-}&lt;Rm&gt;{, &lt;shift&gt;}</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rt&gt;: </strong></td><td>General-purpose register to be transferred (field &quot;Rt&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose base register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>{+/-}: </strong></td><td>Specifies the index register is added to or subtracted from the base register (field &quot;U&quot;) [+,-]</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>General-purpose index register (field &quot;Rm&quot;)</td></tr>
<tr><td align="right"><strong>&lt;shift&gt;: </strong></td><td><a href="shiftOperators.html">The shift to apply to the value read from &lt;Rm&gt;</a></td></tr>
</table>
<p><small>(info from ldrt.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>