<STYLE>A {text-decoration: none;} </STYLE>

<h3>MLA, MLAS</h3>
<p>Multiply Accumulate multiplies two register values, and adds a third register value. The least significant 32 bits of the result are written to the destination register. These 32 bits do not depend on whether the source register values are considered to be signed values or unsigned values.</p>
<p>In an A32 instruction, the condition flags can optionally be updated based on the result. Use of this option adversely affects performance on many implementations.</p>
<p><strong>MLA{&lt;c&gt;}{&lt;s&gt;} &lt;Rd&gt;, &lt;Rn&gt;, &lt;Rm&gt;, &lt;Ra&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;s&gt;: </strong></td><td><a href="conditionField.html">updates the condition flags based on the result</a></td></tr>
<tr><td align="right"><strong>&lt;Rd&gt;: </strong></td><td>General-purpose destination register (field &quot;Rd&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>First general-purpose source register holding multiplicand (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>Second general-purpose source register holding multiplier (field &quot;Rm&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Ra&gt;: </strong></td><td>Third general-purpose source register holding addend (field &quot;Ra&quot;)</td></tr>
</table>
<p><small>(info from mla.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>