<STYLE>A {text-decoration: none;} </STYLE>

<h3>MOV, MOVS (register)</h3>
<p>Move (register) copies a value from a register to the destination register.</p>
<p>If the destination register is not the PC, the MOVS variant of the instruction updates the condition flags based on the result.</p>
<p>The field descriptions for &lt;Rd&gt; identify the encodings where the PC is permitted as the destination register. If the destination register is the PC:</p>
<p><strong>MOV, rotate right with extend<br>
MOV{&lt;c&gt;}{&lt;s&gt;} &lt;Rd&gt;, &lt;Rm&gt;, RRX</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;s&gt;: </strong></td><td><a href="conditionField.html">updates the condition flags based on the result</a></td></tr>
<tr><td align="right"><strong>&lt;Rd&gt;: </strong></td><td>General-purpose destination register (field &quot;Rd&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>General-purpose source register (field &quot;Rm&quot;)</td></tr>
<tr><td align="right"><strong>RRX: </strong></td><td><a href="shiftOperators.html">Rotate Right with Extend</a></td></tr>
</table>
<p><strong>MOV, shift or rotate by value<br>
MOV{&lt;c&gt;}{&lt;s&gt;} &lt;Rd&gt;, &lt;Rm&gt; {, &lt;shift&gt; #&lt;amount&gt;}</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;s&gt;: </strong></td><td><a href="conditionField.html">updates the condition flags based on the result</a></td></tr>
<tr><td align="right"><strong>&lt;Rd&gt;: </strong></td><td>General-purpose destination register (field &quot;Rd&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>General-purpose source register (field &quot;Rm&quot;)</td></tr>
<tr><td align="right"><strong>&lt;shift&gt;: </strong></td><td><a href="shiftOperators.html">Type of shift applied to source register (field &quot;stype&quot;) [ASR,LSL,LSR,ROR]</a></td></tr>
<tr><td align="right"><strong>&lt;amount&gt;: </strong></td><td><a href="shiftOperators.html">Shift amount [0-31 (when &lt;shift&gt; = LSL)] (field &quot;imm5&quot;)</a></td></tr>
</table>
<p><small>(info from mov_r.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>