<STYLE>A {text-decoration: none;} </STYLE>

<h3>MOV, MOVS (immediate)</h3>
<p>Move (immediate) writes an immediate value to the destination register.</p>
<p>If the destination register is not the PC, the MOVS variant of the instruction updates the condition flags based on the result.</p>
<p>The field descriptions for &lt;Rd&gt; identify the encodings where the PC is permitted as the destination register. Arm deprecates any use of these encodings. However, when the destination register is the PC:</p>
<p><strong>MOV{&lt;c&gt;}{&lt;s&gt;} &lt;Rd&gt;, #&lt;const&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;s&gt;: </strong></td><td><a href="conditionField.html">updates the condition flags based on the result</a></td></tr>
<tr><td align="right"><strong>&lt;Rd&gt;: </strong></td><td>General-purpose destination register (field &quot;Rd&quot;)</td></tr>
<tr><td align="right"><strong>&lt;const&gt;: </strong></td><td>An immediate value</td></tr>
</table>
<p><strong>MOV{&lt;c&gt;} &lt;Rd&gt;, #&lt;imm16&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rd&gt;: </strong></td><td>General-purpose destination register (field &quot;Rd&quot;)</td></tr>
<tr><td align="right"><strong>&lt;imm16&gt;: </strong></td><td>16-bit unsigned immediate [0-65535] (field &quot;imm4:imm12&quot;)</td></tr>
</table>
<p><strong>MOVW{&lt;c&gt;} &lt;Rd&gt;, #&lt;imm16&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rd&gt;: </strong></td><td>General-purpose destination register (field &quot;Rd&quot;)</td></tr>
<tr><td align="right"><strong>&lt;imm16&gt;: </strong></td><td>16-bit unsigned immediate [0-65535] (field &quot;imm4:imm12&quot;)</td></tr>
</table>
<p><small>(info from mov_i.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>