<STYLE>A {text-decoration: none;} </STYLE>

<h3>MOVT</h3>
<p>Move Top writes an immediate value to the top halfword of the destination register. It does not affect the contents of the bottom halfword.</p>
<p><strong>MOVT{&lt;c&gt;} &lt;Rd&gt;, #&lt;imm16&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rd&gt;: </strong></td><td>General-purpose destination register (field &quot;Rd&quot;)</td></tr>
<tr><td align="right"><strong>&lt;imm16&gt;: </strong></td><td>16-bit unsigned immediate [0-65535] (field &quot;imm4:imm12&quot;)</td></tr>
</table>
<p><small>(info from movt.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>