<STYLE>A {text-decoration: none;} </STYLE>

<h3>MVN, MVNS (register-shifted register)</h3>
<p>Bitwise NOT (register-shifted register) writes the bitwise inverse of a register-shifted register value to the destination register. It can optionally update the condition flags based on the result.</p>
<p><strong>MVN{&lt;c&gt;}{&lt;s&gt;} &lt;Rd&gt;, &lt;Rm&gt;, &lt;shift&gt; &lt;Rs&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;s&gt;: </strong></td><td><a href="conditionField.html">updates the condition flags based on the result</a></td></tr>
<tr><td align="right"><strong>&lt;Rd&gt;: </strong></td><td>General-purpose destination register (field &quot;Rd&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>General-purpose source register (field &quot;Rm&quot;)</td></tr>
<tr><td align="right"><strong>&lt;shift&gt;: </strong></td><td><a href="shiftOperators.html">Type of shift applied to second source register (field &quot;stype&quot;) [ASR,LSL,LSR,ROR]</a></td></tr>
<tr><td align="right"><strong>&lt;Rs&gt;: </strong></td><td>General-purpose source register holding a shift amount in its bottom 8 bits (field &quot;Rs&quot;)</td></tr>
</table>
<p><small>(info from mvn_rr.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>