<STYLE>A {text-decoration: none;} </STYLE>

<h3>POP (single register)</h3>
<p>Pop Single Register from Stack loads a single general-purpose register from the stack, loading from the address in SP, and updates SP to point just above the loaded data</p>
<p><strong>Post-indexed<br>
POP{&lt;c&gt;} &lt;single_register_list&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;single_register_list&gt;: </strong></td><td>General-purpose register &lt;Rt&gt; to be loaded surrounded by { and }</td></tr>
</table>
<p><small>(info from pop_ldr_i.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>