<STYLE>A {text-decoration: none;} </STYLE>

<h3>POP (multiple registers)</h3>
<p>Pop Multiple Registers from Stack loads multiple general-purpose registers from the stack, loading from consecutive memory locations starting at the address in SP, and updates SP to point just above the loaded data</p>
<p><strong>POP{&lt;c&gt;} &lt;registers&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;registers&gt;: </strong></td><td>List of two or more registers to be loaded</td></tr>
</table>
<p><small>(info from pop_ldm.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>