<STYLE>A {text-decoration: none;} </STYLE>

<h3>PUSH (multiple registers)</h3>
<p>Push multiple registers to Stack stores multiple general-purpose registers to the stack, storing to consecutive memory locations ending just below the address in SP, and updates SP to point to the start of the stored data</p>
<p><strong>PUSH{&lt;c&gt;} &lt;registers&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;registers&gt;: </strong></td><td>List of two or more registers to be stored</td></tr>
</table>
<p><small>(info from push_stmdb.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>