<STYLE>A {text-decoration: none;} </STYLE>

<h3>PUSH (single register)</h3>
<p>Push Single Register to Stack stores a single general-purpose register to the stack, storing to the 32-bit word below the address in SP, and updates SP to point to the start of the stored data</p>
<p><strong>Pre-indexed<br>
PUSH{&lt;c&gt;} &lt;single_register_list&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;single_register_list&gt;: </strong></td><td>General-purpose register &lt;Rt&gt; to be stored surrounded by { and }</td></tr>
</table>
<p><small>(info from push_str_i.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>