<STYLE>A {text-decoration: none;} </STYLE>

<h3>RSB, RSBS (immediate)</h3>
<p>Reverse Subtract (immediate) subtracts a register value from an immediate value, and writes the result to the destination register.</p>
<p>If the destination register is not the PC, the RSBS variant of the instruction updates the condition flags based on the result.</p>
<p>The field descriptions for &lt;Rd&gt; identify the encodings where the PC is permitted as the destination register. ARM deprecates any use of these encodings. However, when the destination register is the PC:</p>
<p><strong>RSB{&lt;c&gt;}{&lt;s&gt;} {&lt;Rd&gt;,} &lt;Rn&gt;, #&lt;const&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;s&gt;: </strong></td><td><a href="conditionField.html">updates the condition flags based on the result</a></td></tr>
<tr><td align="right"><strong>&lt;Rd&gt;: </strong></td><td>General-purpose destination register (field &quot;Rd&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose source register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>&lt;const&gt;: </strong></td><td>An immediate value</td></tr>
</table>
<p><small>(info from rsb_i.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>