<STYLE>A {text-decoration: none;} </STYLE>

<h3>RSC, RSCS (register)</h3>
<p>Reverse Subtract with Carry (register) subtracts a register value and the value of NOT (Carry flag) from an optionally-shifted register value, and writes the result to the destination register.</p>
<p>If the destination register is not the PC, the RSCS variant of the instruction updates the condition flags based on the result.</p>
<p>The field descriptions for &lt;Rd&gt; identify the encodings where the PC is permitted as the destination register. ARM deprecates any use of these encodings. However, when the destination register is the PC:</p>
<p><strong>RSC, rotate right with extend<br>
RSC{&lt;c&gt;}{&lt;s&gt;} {&lt;Rd&gt;,} &lt;Rn&gt;, &lt;Rm&gt;, RRX</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;s&gt;: </strong></td><td><a href="conditionField.html">updates the condition flags based on the result</a></td></tr>
<tr><td align="right"><strong>&lt;Rd&gt;: </strong></td><td>General-purpose destination register (field &quot;Rd&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>First general-purpose source register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>Second general-purpose source register (field &quot;Rm&quot;)</td></tr>
<tr><td align="right"><strong>RRX: </strong></td><td><a href="shiftOperators.html">Rotate Right with Extend</a></td></tr>
</table>
<p><strong>RSC, shift or rotate by value<br>
RSC{&lt;c&gt;}{&lt;s&gt;} {&lt;Rd&gt;,} &lt;Rn&gt;, &lt;Rm&gt; {, &lt;shift&gt; #&lt;amount&gt;}</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;s&gt;: </strong></td><td><a href="conditionField.html">updates the condition flags based on the result</a></td></tr>
<tr><td align="right"><strong>&lt;Rd&gt;: </strong></td><td>General-purpose destination register (field &quot;Rd&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>First general-purpose source register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>Second general-purpose source register (field &quot;Rm&quot;)</td></tr>
<tr><td align="right"><strong>&lt;shift&gt;: </strong></td><td><a href="shiftOperators.html">Type of shift applied to second source register (field &quot;stype&quot;) [ASR,LSL,LSR,ROR]</a></td></tr>
<tr><td align="right"><strong>&lt;amount&gt;: </strong></td><td><a href="shiftOperators.html">Shift amount [1-31 (when &lt;shift&gt; = LSL or ROR) or 1 to 32 (when &lt;shift&gt; = LSR or ASR) (field &quot;imm5&quot;)</a></td></tr>
</table>
<p><small>(info from rsc_r.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>