<STYLE>A {text-decoration: none;} </STYLE>

<h3>SMLALD, SMLALDX</h3>
<p>Signed Multiply Accumulate Long Dual performs two signed 16 x 16-bit multiplications. It adds the products to a 64-bit accumulate operand.</p>
<p>Optionally, the instruction can exchange the halfwords of the second operand before performing the arithmetic. This produces top x bottom and bottom x top multiplication.</p>
<p>Overflow is possible during this instruction, but only as a result of the 64-bit addition. This overflow is not detected if it occurs. Instead, the result wraps around modulo 264.</p>
<p><strong>SMLALD{&lt;c&gt;} &lt;RdLo&gt;, &lt;RdHi&gt;, &lt;Rn&gt;, &lt;Rm&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;RdLo&gt;: </strong></td><td>General-purpose source register holding lower 32 bits of addend (field &quot;RdLo&quot;)</td></tr>
<tr><td align="right"><strong>&lt;RdHi&gt;: </strong></td><td>General-purpose source register holding upper 32 bits of addend (field &quot;RdHi&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>First general-purpose source register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>Second general-purpose source register (field &quot;Rm&quot;)</td></tr>
</table>
<p><strong>SMLALDX<br>
SMLALDX{&lt;c&gt;} &lt;RdLo&gt;, &lt;RdHi&gt;, &lt;Rn&gt;, &lt;Rm&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;RdLo&gt;: </strong></td><td>General-purpose source register holding lower 32 bits of addend (field &quot;RdLo&quot;)</td></tr>
<tr><td align="right"><strong>&lt;RdHi&gt;: </strong></td><td>General-purpose source register holding upper 32 bits of addend (field &quot;RdHi&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>First general-purpose source register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>Second general-purpose source register (field &quot;Rm&quot;)</td></tr>
</table>
<p><small>(info from smlald.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>