<STYLE>A {text-decoration: none;} </STYLE>

<h3>SMLALBB, SMLALBT, SMLALTB, SMLALTT</h3>
<p>Signed Multiply Accumulate Long (halfwords) multiplies two signed 16-bit values to produce a 32-bit value, and accumulates this with a 64-bit value. The multiply acts on two signed 16-bit quantities, taken from either the bottom or the top half of their respective source registers. The other halves of these source registers are ignored. The 32-bit product is sign-extended and accumulated with a 64-bit accumulate value.</p>
<p>Overflow is possible during this instruction, but only as a result of the 64-bit addition. This overflow is not detected if it occurs. Instead, the result wraps around modulo 264.</p>
<p><strong>SMLALBB<br>
SMLALBB{&lt;c&gt;} &lt;RdLo&gt;, &lt;RdHi&gt;, &lt;Rn&gt;, &lt;Rm&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;RdLo&gt;: </strong></td><td>General-purpose source register holding lower 32 bits of addend (field &quot;RdLo&quot;)</td></tr>
<tr><td align="right"><strong>&lt;RdHi&gt;: </strong></td><td>General-purpose source register holding upper 32 bits of addend (field &quot;RdHi&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>First general-purpose source register holding multiplicand in the bottom or top half (selected by &lt;x&gt;) (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>Second general-purpose source register holding multiplier in the bottom or top half (selected by &lt;y&gt;) (field &quot;Rm&quot;)</td></tr>
</table>
<p><strong>SMLALBT<br>
SMLALBT{&lt;c&gt;} &lt;RdLo&gt;, &lt;RdHi&gt;, &lt;Rn&gt;, &lt;Rm&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;RdLo&gt;: </strong></td><td>General-purpose source register holding lower 32 bits of addend (field &quot;RdLo&quot;)</td></tr>
<tr><td align="right"><strong>&lt;RdHi&gt;: </strong></td><td>General-purpose source register holding upper 32 bits of addend (field &quot;RdHi&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>First general-purpose source register holding multiplicand in the bottom or top half (selected by &lt;x&gt;) (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>Second general-purpose source register holding multiplier in the bottom or top half (selected by &lt;y&gt;) (field &quot;Rm&quot;)</td></tr>
</table>
<p><strong>SMLALTB{&lt;c&gt;} &lt;RdLo&gt;, &lt;RdHi&gt;, &lt;Rn&gt;, &lt;Rm&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;RdLo&gt;: </strong></td><td>General-purpose source register holding lower 32 bits of addend (field &quot;RdLo&quot;)</td></tr>
<tr><td align="right"><strong>&lt;RdHi&gt;: </strong></td><td>General-purpose source register holding upper 32 bits of addend (field &quot;RdHi&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>First general-purpose source register holding multiplicand in the bottom or top half (selected by &lt;x&gt;) (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>Second general-purpose source register holding multiplier in the bottom or top half (selected by &lt;y&gt;) (field &quot;Rm&quot;)</td></tr>
</table>
<p><strong>SMLALTT<br>
SMLALTT{&lt;c&gt;} &lt;RdLo&gt;, &lt;RdHi&gt;, &lt;Rn&gt;, &lt;Rm&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;RdLo&gt;: </strong></td><td>General-purpose source register holding lower 32 bits of addend (field &quot;RdLo&quot;)</td></tr>
<tr><td align="right"><strong>&lt;RdHi&gt;: </strong></td><td>General-purpose source register holding upper 32 bits of addend (field &quot;RdHi&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>First general-purpose source register holding multiplicand in the bottom or top half (selected by &lt;x&gt;) (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>Second general-purpose source register holding multiplier in the bottom or top half (selected by &lt;y&gt;) (field &quot;Rm&quot;)</td></tr>
</table>
<p><small>(info from smlalbb.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>