<STYLE>A {text-decoration: none;} </STYLE>

<h3>SMLAL, SMLALS</h3>
<p>Signed Multiply Accumulate Long multiplies two signed 32-bit values to produce a 64-bit value, and accumulates this with a 64-bit value.</p>
<p>In A32 instructions, the condition flags can optionally be updated based on the result. Use of this option adversely affects performance on many implementations.</p>
<p><strong>SMLAL{&lt;c&gt;}{&lt;s&gt;} &lt;RdLo&gt;, &lt;RdHi&gt;, &lt;Rn&gt;, &lt;Rm&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;s&gt;: </strong></td><td><a href="conditionField.html">updates the condition flags based on the result</a></td></tr>
<tr><td align="right"><strong>&lt;RdLo&gt;: </strong></td><td>General-purpose source register holding lower 32 bits of addend (field &quot;RdLo&quot;)</td></tr>
<tr><td align="right"><strong>&lt;RdHi&gt;: </strong></td><td>General-purpose source register holding upper 32 bits of addend (field &quot;RdHi&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>First general-purpose source register holding multiplicand (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>Second general-purpose source register holding multiplier (field &quot;Rm&quot;)</td></tr>
</table>
<p><small>(info from smlal.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>