<STYLE>A {text-decoration: none;} </STYLE>

<h3>STM (User registers)</h3>
<p>In an EL1 mode other than System mode, Store Multiple (User registers) stores multiple User mode registers to consecutive memory locations using an address from a base register. The PE reads the base register value normally, using the current mode to determine the correct Banked version of the register. This instruction cannot writeback to the base register.</p>
<p>Store Multiple (User registers) is undefined in Hyp mode, and constrained unpredictable in User or System modes.</p>
<p>Armv8.2 permits the deprecation of some Store Multiple ordering behaviors in AArch32 state, for more information see ARMv8.2-LSMAOC.</p>
<p><strong>STM{&lt;amode&gt;}{&lt;c&gt;} &lt;Rn&gt;, &lt;registers&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;amode&gt;: </strong></td><td>One of:<br>
$DA: Decrement After</td></tr>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose base register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>&lt;registers&gt;: </strong></td><td>List of one or more registers, separated by commas and surrounded by { and }</td></tr>
</table>
<p><small>(info from stm_u.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>