<STYLE>A {text-decoration: none;} </STYLE>

<h3>STMDB, STMFD</h3>
<p>Store Multiple Decrement Before (Full Descending) stores multiple registers to consecutive memory locations using an address from a base register. The consecutive memory locations end just below this address, and the address of the first of those locations can optionally be written back to the base register.</p>
<p>The lowest-numbered register is loaded from the lowest memory address, through to the highest-numbered register from the highest memory address. See also Encoding of lists of general-purpose registers and the PC.</p>
<p>Armv8.2 permits the deprecation of some Store Multiple ordering behaviors in AArch32 state, for more information see ARMv8.2-LSMAOC. For details of related system instructions see STM (User registers).</p>
<p><strong>STMDB{&lt;c&gt;} &lt;Rn&gt;{!}, &lt;registers&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose base register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>{!}: </strong></td><td>The address adjusted by the size of data loaded is written back to the base register (field &quot;W&quot;)</td></tr>
<tr><td align="right"><strong>&lt;registers&gt;: </strong></td><td>List of one or more registers to be stored</td></tr>
</table>
<p><strong>STMFD{&lt;c&gt;} &lt;Rn&gt;{!}, &lt;registers&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose base register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>{!}: </strong></td><td>The address adjusted by the size of data loaded is written back to the base register (field &quot;W&quot;)</td></tr>
<tr><td align="right"><strong>&lt;registers&gt;: </strong></td><td>List of one or more registers to be stored</td></tr>
</table>
<p><small>(info from stmdb.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>