<STYLE>A {text-decoration: none;} </STYLE>

<h3>STR (register)</h3>
<p>Store Register (register) calculates an address from a base register value and an offset register value, stores a word from a register to memory. The offset register value can optionally be shifted. For information about memory accesses see Memory accesses.</p>
<p><strong>Offset<br>
STR{&lt;c&gt;} &lt;Rt&gt;, [&lt;Rn&gt;, {+/-}&lt;Rm&gt;{, &lt;shift&gt;}]</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rt&gt;: </strong></td><td>General-purpose register to be transferred (field &quot;Rt&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose base register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>{+/-}: </strong></td><td>Specifies the index register is added to or subtracted from the base register (field &quot;U&quot;) [+,-]</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>General-purpose index register (field &quot;Rm&quot;)</td></tr>
<tr><td align="right"><strong>&lt;shift&gt;: </strong></td><td><a href="shiftOperators.html">The shift to apply to the value read from &lt;Rm&gt;</a></td></tr>
</table>
<p><strong>Post-indexed<br>
STR{&lt;c&gt;} &lt;Rt&gt;, [&lt;Rn&gt;], {+/-}&lt;Rm&gt;{, &lt;shift&gt;}</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rt&gt;: </strong></td><td>General-purpose register to be transferred (field &quot;Rt&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose base register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>{+/-}: </strong></td><td>Specifies the index register is added to or subtracted from the base register (field &quot;U&quot;) [+,-]</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>General-purpose index register (field &quot;Rm&quot;)</td></tr>
<tr><td align="right"><strong>&lt;shift&gt;: </strong></td><td><a href="shiftOperators.html">The shift to apply to the value read from &lt;Rm&gt;</a></td></tr>
</table>
<p><strong>Pre-indexed<br>
STR{&lt;c&gt;} &lt;Rt&gt;, [&lt;Rn&gt;, {+/-}&lt;Rm&gt;{, &lt;shift&gt;}]!</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rt&gt;: </strong></td><td>General-purpose register to be transferred (field &quot;Rt&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose base register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>{+/-}: </strong></td><td>Specifies the index register is added to or subtracted from the base register (field &quot;U&quot;) [+,-]</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>General-purpose index register (field &quot;Rm&quot;)</td></tr>
<tr><td align="right"><strong>&lt;shift&gt;: </strong></td><td><a href="shiftOperators.html">The shift to apply to the value read from &lt;Rm&gt;</a></td></tr>
</table>
<p><small>(info from str_r.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>