<STYLE>A {text-decoration: none;} </STYLE>

<h3>STRD (immediate)</h3>
<p>Store Register Dual (immediate) calculates an address from a base register value and an immediate offset, and stores two words from two registers to memory. It can use offset, post-indexed, or pre-indexed addressing. For information about memory accesses see Memory accesses.</p>
<p><strong>Offset<br>
STRD{&lt;c&gt;} &lt;Rt&gt;, &lt;Rt2&gt;, [&lt;Rn&gt; {, #{+/-}&lt;imm&gt;}]</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rt&gt;: </strong></td><td>First general-purpose register to be transferred (field &quot;Rt&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rt2&gt;: </strong></td><td>Second general-purpose register to be transferred</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose base register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>{+/-}: </strong></td><td>Specifies the offset is added to or subtracted from the base register (field &quot;U&quot;) [+,-]</td></tr>
<tr><td align="right"><strong>&lt;imm&gt;: </strong></td><td>8-bit unsigned immediate byte offset [0-255] (field &quot;imm4H:imm4L&quot;)</td></tr>
</table>
<p><strong>Post-indexed<br>
STRD{&lt;c&gt;} &lt;Rt&gt;, &lt;Rt2&gt;, [&lt;Rn&gt;], #{+/-}&lt;imm&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rt&gt;: </strong></td><td>First general-purpose register to be transferred (field &quot;Rt&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rt2&gt;: </strong></td><td>Second general-purpose register to be transferred</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose base register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>{+/-}: </strong></td><td>Specifies the offset is added to or subtracted from the base register (field &quot;U&quot;) [+,-]</td></tr>
<tr><td align="right"><strong>&lt;imm&gt;: </strong></td><td>8-bit unsigned immediate byte offset [0-255] (field &quot;imm4H:imm4L&quot;)</td></tr>
</table>
<p><strong>Pre-indexed<br>
STRD{&lt;c&gt;} &lt;Rt&gt;, &lt;Rt2&gt;, [&lt;Rn&gt;, #{+/-}&lt;imm&gt;]!</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rt&gt;: </strong></td><td>First general-purpose register to be transferred (field &quot;Rt&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rt2&gt;: </strong></td><td>Second general-purpose register to be transferred</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose base register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>{+/-}: </strong></td><td>Specifies the offset is added to or subtracted from the base register (field &quot;U&quot;) [+,-]</td></tr>
<tr><td align="right"><strong>&lt;imm&gt;: </strong></td><td>8-bit unsigned immediate byte offset [0-255] (field &quot;imm4H:imm4L&quot;)</td></tr>
</table>
<p><small>(info from strd_i.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>