<STYLE>A {text-decoration: none;} </STYLE>

<h3>STREXH</h3>
<p>Store Register Exclusive Halfword derives an address from a base register value, stores a halfword from a register to the derived address if the executing PE has exclusive access to the memory at that address, and returns a status value of 0 if the store was successful, or of 1 if no store was performed.</p>
<p>For more information about support for shared memory see Synchronization and semaphores. For information about memory accesses see Memory accesses.</p>
<p><strong>STREXH{&lt;c&gt;} &lt;Rd&gt;, &lt;Rt&gt;, [&lt;Rn&gt;]</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rd&gt;: </strong></td><td>Destination general-purpose register into which the status result of store exclusive is written (field &quot;Rd&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rt&gt;: </strong></td><td>General-purpose register to be transferred (field &quot;Rt&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>General-purpose base register (field &quot;Rn&quot;)</td></tr>
</table>
<p><small>(info from strexh.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>