<STYLE>A {text-decoration: none;} </STYLE>

<h3>SUB (immediate, from PC)</h3>
<p>Subtract from PC subtracts an immediate value from the Align(PC, 4) value to form a PC-relative address, and writes the result to the destination register.  Arm recommends that, where possible, software avoids using this alias</p>
<p><strong>SUB{&lt;c&gt;} &lt;Rd&gt;, PC, #&lt;const&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rd&gt;: </strong></td><td>General-purpose destination register (field &quot;Rd&quot;)</td></tr>
<tr><td align="right"><strong>PC: </strong></td><td>Program Counter Register</td></tr>
<tr><td align="right"><strong>&lt;const&gt;: </strong></td><td>An immediate value</td></tr>
</table>
<p><small>(info from sub_adr.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>