<STYLE>A {text-decoration: none;} </STYLE>

<h3>TEQ (register-shifted register)</h3>
<p>Test Equivalence (register-shifted register) performs a bitwise exclusive OR operation on a register value and a register-shifted register value. It updates the condition flags based on the result, and discards the result.</p>
<p><strong>TEQ{&lt;c&gt;} &lt;Rn&gt;, &lt;Rm&gt;, &lt;type&gt; &lt;Rs&gt;</strong></p>
<table>
<tr><td align="right"><strong>&lt;c&gt;: </strong></td><td><a href="conditionField.html">condition field for conditional execution</a></td></tr>
<tr><td align="right"><strong>&lt;Rn&gt;: </strong></td><td>First general-purpose source register (field &quot;Rn&quot;)</td></tr>
<tr><td align="right"><strong>&lt;Rm&gt;: </strong></td><td>Second general-purpose source register (field &quot;Rm&quot;)</td></tr>
<tr><td align="right"><strong>&lt;type&gt;: </strong></td><td>Type of shift applied to second source register (field &quot;stype&quot;) [ASR,LSL,LSR,ROR]</td></tr>
<tr><td align="right"><strong>&lt;Rs&gt;: </strong></td><td>Third general-purpose source register holding a shift amount in its bottom 8 bits (field &quot;Rs&quot;)</td></tr>
</table>
<p><small>(info from teq_rr.xml, <a href="https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools">https://developer.arm.com/architectures/cpu-architecture/a-profile/exploration-tools</a>)</small></p>